@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: var(--font-roboto-sans), Arial, Helvetica, sans-serif;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  ul {
    list-style: none;
  }

  button {
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
    transition: opacity 200ms ease-in-out, color 200ms ease-in-out,
    background-color 200ms ease-in-out;
  }

  button:active {
    transform: translateY(1px);
  }
}

@layer components {
  .row {
    width: 100%;
    margin: 0 auto;
    padding: 0 18px;
    max-width:  1920px;
  }

  .global-container {
    padding:  18px 0;
    width: 100%;
  }
}

@layer utilities {
  .spread-dotted-border {
    background:
      radial-gradient(circle, currentColor 1px, transparent 1px) top left / 12px 12px repeat-x,
      radial-gradient(circle, currentColor 1px, transparent 1px) bottom left / 12px 12px repeat-x,
      radial-gradient(circle, currentColor 1px, transparent 1px) top left / 12px 12px repeat-y,
      radial-gradient(circle, currentColor 1px, transparent 1px) top right / 12px 12px repeat-y;
  }
}